[Desktop Entry]
Name=VTracer GTK
Comment=Convert raster images to vector SVG graphics
Exec=tracer
Icon=com.github.z0uk.tracer
Terminal=false
Type=Application
Categories=Graphics;Utility;
MimeType=image/png;image/jpeg;image/webp;
StartupNotify=true
X-GNOME-UsesNotifications=true
